@import "tailwindcss";
@import "@fontsource/geist-sans";
@import "@fontsource/geist-mono";



@theme {
    --color-airbnb: #ff385c;
    --color-airbnb-dark: #d50027;
}

body {
  font-family: "Geist Sans", sans-serif;
}

code, pre {
  font-family: "Geist Mono", monospace;
}

.button--loader > div {
    width: .8rem;
    height: .8rem;
    background-color: gray;
    border-radius: 50%;
    animation: 0.7s infinite ease-in-out scaleUp;
}
.button--loader div:nth-child(1) {
    animation-delay: -0.32s;
}
.button--loader div:nth-child(2) {
    animation-delay: -0.16s;
}
@keyframes scaleUp {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}
